.tags-section {
    display: flex;
    user-select: none;
    flex-wrap: wrap;
}

.bi {
    cursor:pointer
}

.pill {
    user-select: none;
}

input,
input:focus,
input:hover,
input:active  {
    height: 25px;
    border: none;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0);
}


.not-selected {
    background-color: var(--gray);
    color: black;
}