<div>
    <div *ngIf="piece == 'pawn'">
            {{move}}
    </div>
    <div *ngIf="piece != 'pawn'">
        <span >
            <img *ngIf="piece == 'N' && player == white" src="/assets/pieces/white knight.svg" class="pieceNotation"/>
            <img *ngIf="piece == 'K' && player == white" src="/assets/pieces/white king.svg" class="pieceNotation"/>
            <img *ngIf="piece == 'Q' && player == white" src="/assets/pieces/white queen.svg" class="pieceNotation"/>
            <img *ngIf="piece == 'B' && player == white" src="/assets/pieces/white bishop.svg" class="pieceNotation"/>
            <img *ngIf="piece == 'R' && player == white" src="/assets/pieces/white rook.svg" class="pieceNotation"/>
            
            <img *ngIf="piece == 'N' && player != white" src="/assets/pieces/black knight.svg" class="pieceNotation"/>
            <img *ngIf="piece == 'K' && player != white" src="/assets/pieces/black king.svg" class="pieceNotation"/>
            <img *ngIf="piece == 'Q' && player != white" src="/assets/pieces/black queen.svg" class="pieceNotation"/>
            <img *ngIf="piece == 'B' && player != white" src="/assets/pieces/black bishop.svg" class="pieceNotation"/>
            <img *ngIf="piece == 'R' && player != white" src="/assets/pieces/black rook.svg" class="pieceNotation"/>
            {{move}}
        </span>
        <span>
            
        </span>
    </div>
</div>