

<table [ngClass]="{'visible': show}">
    <tr>
        <td></td>
        <td>
            
            <span>positions/mistakes</span>
        </td>
    </tr>
    <tr>
        <td style="width: 600px">
            <h1>{{ asterisk ? '*' : '' }} 
                {{score | number: '1.0-2'}}% 
    <span class="better" *ngIf="diff > 0"> + </span>
    <span *ngIf="isBetter() || isWorse()" [ngClass]="{'visible': show, 'better': diff > 0, 'worse': diff < 0}"> {{diff | number: '1.0-2'}}</span>
    
            </h1>
        </td>
        <td>
            <h1 [ngClass]="{'visible': show}"><span>{{branch}}</span></h1>
        </td>
    </tr>
</table>
