
<img src="assets/pieces/black pawn.svg" class="pulse-img" />
<img src="assets/pieces/white knight.svg"  class="pulse-img" style="animation-delay: .5s"/>
<img src="assets/pieces/black bishop.svg"  class="pulse-img" style="animation-delay: 1s"/>
<img src="assets/pieces/white rook.svg"  class="pulse-img" style="animation-delay: 1.5s"/>
<img src="assets/pieces/black queen.svg"  class="pulse-img" style="animation-delay: 2s"/>
<img src="assets/pieces/white king.svg"  class="pulse-img" style="animation-delay: 2.5s"/>