.color-bar {
    display: flex;
    height: 30px;
    width: 90% ;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    margin-right:8px;
  }

  .explore-row.selectable:hover {
    background-color: var(--chill-blue);
    opacity: 1;
    cursor: pointer;
  }
  
  .explore-view {
    height: 470px;
    overflow-y: auto;
  }
  .segment {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
  }
  
  .black {
    background-color: black;
  }
  
  .grey {
    background-color: grey;
  }
  
  .white {
    background-color: white;
    color: black;
  }

  .container {
    display: flex;
  }

  .move {
    width: 10%;
    padding-right: 8px;
    padding-left: 8px;
    user-select: none;
  }
  .win-loss{
    width: 100%;
  }

  .explore-row {
    height: 50px;
    padding: 18px;
  }

  .explore-row.selectable {
    opacity: .7;
  }

  .header {
    height: 70px;
  }