
<div class="navigator">
    <h3 class="inline-block">Moves</h3>
    <div class="inline-block padding"><i class="bi bi-exclamation-lg red" *ngFor="let i of determineFocus()"></i></div>
    <button class="btn btn-icon btn-commit" (click)="setFEN()"><i class="bi bi-key inline-block" ></i></button>
    <div>
        <h3 class="inline-block padding-right" [ngClass]="{dirty: getMoveDetail().isDirty}">{{getMoveDetail().name}}</h3>
        <button class="btn btn-icon btn-commit" *ngIf="getMoveDetail().isDirty" (click)="save()"><i class="bi bi-floppy inline-block" ></i></button>
        <button class="btn btn-icon btn-delete" (click)="delete()"><i class="bi bi-trash3 inline-block" ></i></button>
    </div>
    <div class="variation-list" [ngClass]="{ 'disabled': getVariations().length == 0 || !showVariations}">
        <h4>
            <i class="bi bi-eye show-toggle" (click)="hide()" *ngIf="showVariations"> </i> 
            <i class="bi bi-eye-slash show-toggle" (click)="show()" *ngIf="!showVariations"> </i> 
            Variations
        </h4>
    </div>
    <div>
        <div class="move-list">
            <div *ngIf="getVariations().length == 0 || !showVariations" class="move disabled">
                <div >-</div>
            </div>
            <div class="row" *ngIf="showVariations">
                <div class="move" *ngFor="let move of getVariations()"  [ngClass]="{'dirty': move.isDirty}" (click)="next(move.name)">{{move.name}}</div>
            </div>
        </div>
    </div>
    <div>
        <button mat-icon-button color="primary" 
            (click)="first()">
            <mat-icon>first_page</mat-icon>
        </button>
    
        <button mat-icon-button color="primary" 
            (click)="previous()">
            <mat-icon>navigate_before</mat-icon>
        </button>
    
        <button mat-icon-button color="primary"
            (click)="next()">
            <mat-icon>navigate_next</mat-icon>
        </button>
    
        <button mat-icon-button color="primary"
            (click)="last()">
            <mat-icon>last_page</mat-icon>
        </button>
    </div>
    <div class="move-list">
        <div class="row" *ngFor="let fullMove of getPreviousMoves(); let i = index">
            <div class="move-number">{{i + 1}}.</div>
            <div class="move" [ngClass]="{'dirty': move.isDirty}" *ngFor="let move of fullMove" (click)="goto(move.name)">{{move.name}}</div>
        </div>
    </div>
    
</div>