
<table>
    <div class="padding">
        <app-score></app-score>
    </div>
    <tr>
        <td>
            <div *ngIf="loading" ><app-loading></app-loading></div>
            <div *ngIf="!loading">
                <app-chess-board  [moveData]="moveData" [studyPerspective]="getPerspective()"> </app-chess-board>
            </div>
        </td>
        <td style="vertical-align: top;width: 380px;">
            <app-study-navigation [onUpdate]="updateBoard" ></app-study-navigation>
        </td>
        <td style="vertical-align: top; width: 600px">
            <app-tool-menu>
                <app-tool [name]="'Search'" [icon]="'search'">
                    <app-study-search></app-study-search>
                </app-tool>
                <app-tool [name]="'Info'" [icon]="'book'">
                    <app-study-title></app-study-title>
                    <app-move-editor></app-move-editor>
                    <app-study-description></app-study-description>
                    <app-tags-edit [editTarget]="tagEditTarget"></app-tags-edit>
                    <app-tags-select></app-tags-select>
                </app-tool >
                <app-tool [name]="'Explore'" [icon]="'compass'">
                    <app-explore></app-explore>
                    <app-engine-explore></app-engine-explore>
                </app-tool>
                <app-tool [name]="'Paint'" [icon]="'brush'">
                    <app-drawing-controls></app-drawing-controls>
                </app-tool>
                <app-tool [name]="'Debug Info'" [icon]="'bug'">
                    <app-dev-tools></app-dev-tools>
                </app-tool>
                <app-tool [name]="'Settings'" [icon]="'gear'">
                    <app-settings></app-settings>
                </app-tool> 
            </app-tool-menu>
            <div>
                <app-move-controls></app-move-controls>
                <app-study-control ></app-study-control>
            </div>
        </td>
    </tr>
</table>
