
<table>
    <div class="padding">
        <button class="btn btn-icon btn-commit" (click)="activateStudy()" [ngClass]="{active: doStudy}"><i class="bi bi-play inline-block" ></i></button>
        <button class="btn btn-icon btn-delete" (click)="pauseStudy()"><i class="bi bi-pause inline-block" ></i></button>
        <button class="btn btn-icon btn-commit" (click)="focus()"><i class="bi bi-bullseye inline-block" ></i></button>
        <button class="btn btn-icon btn-delete" (click)="print()"><i class="bi bi-pause inline-block" ></i>print tree</button>
    </div>
    <tr>
        <td>
            <div *ngIf="loading">loading...</div>
            <div *ngIf="!loading">
                <app-chess-board  [moveData]="moveData" [studyPerspective]="getPerspective()"> </app-chess-board>
            </div>
        </td>
        <td style="vertical-align: top;width: 380px;">
            <app-study-title></app-study-title>
            <app-study-navigation [onUpdate]="updateBoard" ></app-study-navigation>
        </td>
        <td style="vertical-align: top;">
            <app-study-description ></app-study-description>
        </td>
    </tr>
    <tr>
        <td>
            <app-dev-tools></app-dev-tools>
        </td>
    </tr>
</table>
