<h2>{{moveData?.move?.name}}<span>move#{{getMoveNumber()}}</span></h2>
<div *ngIf="moveData?.move?.name != '-'">
    <div>
        <b>ID</b>
        <span>{{moveData?.position?.id}}</span>
    </div>
    <div>
        <b>name</b>
        <span>'{{moveData?.position?.title}}'</span>
    </div>
    <div>
        <b>description</b>
        <span>'{{getDescription()}}'</span>
    </div>
    <div>
        <b>fen</b>
        <div class="bordered">{{moveData?.move?.fen}}</div>
    </div>
    <div>
        <b>weight</b>
        <span>{{moveData?.position?.weight}}</span>
    </div>
    <div>
        <b>by</b>
        <span>{{moveData?.player ? 'white' : 'black'}}</span>
    </div>
    <div>
        <b>delta</b>
        <span>{{moveData?.move?.from}} => {{moveData?.move?.to}}</span>
    </div>
    <div>
        <b>dirty</b>
        <span>{{moveData?.position?.isDirty ? 'yes' : 'no'}}</span>
    </div>
    <div>
        <b>notes</b>
        <div>
            <div *ngFor="let note of moveData?.position?.liveNotes">
                <div>{{note}}</div>
            </div>
        </div>
    </div>
</div>
<div>
    <b>Tree</b>
    <div>
        <textarea class="textarea-fill width-overflow" rows="15" readonly >{{getTree()}}</textarea>
    </div>
</div>

<!--
export interface MoveData {
    studyId: string | null;
    studyTitle: string | null;
    move: Move | null;
    source: string | null;
    direction: string | null;
    player: Color | null;
    extra: any;
    position?: Position;
}
-->