<h3>{{moveData?.move?.name}}<span>move#{{getMoveNumber()}}</span></h3>
<div *ngIf="moveData?.move?.name != '-'">
    <div>
        <b>ID</b>
        <span>{{moveData?.position?.id}}</span>
    </div>
    <div>
        <b>name</b>
        <span>'{{moveData?.position?.title}}'</span>
    </div>
    <div>
        <b>fen</b>
        <span>'{{moveData?.move?.fen}}'</span>
    </div>
    <div>
        <b>by</b>
        <span>{{moveData?.player ? 'white' : 'black'}}</span>
    </div>
    <div>
        <b>delta</b>
        <span>{{moveData?.move?.from}} => {{moveData?.move?.to}}</span>
    </div>
    <div>
        <b>dirty</b>
        <span>{{moveData?.position?.isDirty ? 'yes' : 'no'}}</span>
    </div>
<div>

<!--
export interface MoveData {
    studyId: string | null;
    studyTitle: string | null;
    move: Move | null;
    source: string | null;
    direction: string | null;
    player: Color | null;
    extra: any;
    position?: Position;
}
-->