<h2>{{moveData?.move?.name}}<span>move#{{getMoveNumber()}}</span></h2>
<div *ngIf="moveData?.move?.name != '-'">
    <div>
        <b>ID</b>
        <span>{{moveData?.position?.id}}</span>
    </div>
    <div>
        <b>name</b>
        <span>'{{moveData?.position?.title}}'</span>
    </div>
    <div>
        <b>description</b>
        <span>'{{getDescription()}}'</span>
    </div>
    <div>
        <button class="btn btn-icon" (click)="copy()"><b>copy object</b><i class="bi bi-copy inline-block margin-left-20" ></i></button>

    </div>
    <div>
        <b>fen</b>
        <div class="bordered">{{moveData?.move?.fen}}</div>
    </div>
    <div>
        <b>isActive</b>
        <span>{{moveData?.position?.isActive ? 'yes' : 'no'}}</span>
    </div>
    <div>
        <b>tags</b>
        <span>{{getTags()}}</span>
    </div>
    <div>
        <b>Last Studied</b>
        <span>{{moveData?.position?.lastStudied | date: 'M/d/yy'}}</span>
    </div>
    <div>
        <b>mistakes</b>
        <span>{{moveData?.position?.mistakes}}</span>
    </div>
    <div>
        <b>by</b>
        <span>{{moveData?.player ? 'white' : 'black'}}</span>
    </div>
    <div>
        <b>delta</b>
        <span>{{moveData?.move?.from}} => {{moveData?.move?.to}}</span>
    </div>
    <div>
        <b>dirty</b>
        <span>{{moveData?.position?.isDirty ? 'yes' : 'no'}}</span>
    </div>
    <div>
        <b>size</b>
        <span>{{size}}</span>
    </div>
</div>
<div>
    <b>Tree</b>
    <div>
        <textarea class="textarea-fill width-overflow" rows="15" readonly >{{getTree()}}</textarea>
    </div>
</div>

<!--
export interface MoveData {
    studyId: string | null;
    studyTitle: string | null;
    move: Move | null;
    source: string | null;
    direction: string | null;
    player: Color | null;
    extra: any;
    position?: Position;
}
-->