<mat-toolbar>

    <button mat-button routerLink="/club-explorer">
        Clubs
    </button>
    <button mat-button routerLink="/repertoire-menu">
        Practice Repertoire
    </button>

    <div class="push-right" *ngIf="(userService.user$ | async)">
        <h4 class="inline-block mr-10" >{{username}}</h4>
        <button class="btn b1 " (click)="logOut()" >Log Out</button>
    </div>
    <div class="push-right" *ngIf="!(userService.user$ | async)">
        <button class="btn b1 " (click)="openLogin()" >Log In</button>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>