.description{
    width: 60%;
    height: 80%;
    box-sizing: border-box;
    border: none;
    background-color: rgb(42, 42, 42);
    color: white;
    resize: none;
    margin: 7px;
    border-radius: 10px;
    padding: 4px;
    overflow-y: auto;
}

textarea:focus {
    outline: none;
}
