.description{
    width: 400px;
    height: 600px;
    border: none;
    background-color: var(--gray);
    color: white;
    resize: none;
    margin: 7px;
    border-radius: 10px;
    padding: 4px;
    box-sizing: border-box;
}

.desc-content {
    box-sizing: border-box;
    height: 96%;
    margin: 7px;
    overflow-y: auto;
    white-space: pre;
}

textarea {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    resize: none;
    overflow-y: auto;
    margin: 7px;
    padding-right: 6px;
    height: 100%;
    color: white;
    height: 96%;
}

textarea:focus {
    outline: none;
}

