.description{
    width: 100%;
    border: none;
    color: white;
    resize: none;
    height: 80%;
}

.desc-content {
    box-sizing: border-box;
    height: 96%;
    margin: 7px;
    overflow-y: auto;
    white-space: pre;
}



textarea:focus {
    outline: none;
}

