
<button *ngIf="!active" class="btn btn-icon btn-commit" (click)="startStudy()" ><i class="bi bi-large bi-play inline-block" ></i></button>
<button *ngIf="active" class="btn btn-icon btn-commit active" (click)="startStudy()"><i class="bi bi-large bi-play-fill inline-block" ></i></button>
<button class="btn btn-icon btn-delete" (click)="stopStudy()"><i class="bi bi-large bi-pause inline-block" ></i></button>
<button *ngIf="active" class="btn btn-icon btn-commit" (click)="hint()"><i class="bi bi-large bi-question inline-block"></i></button>