img {
  width: 350px;
  height: 350px;
  object-fit:cover;
  background-color: transparent;
  border-radius: 10px;
  padding: 0;
  margin: 10px;
}

.margin-top {
  margin-top: 50px;
}

.club-pic {
  background-color: black;
}

.content {   /* or give it a class like .member-page */
  display: flex;
  flex-direction: row;   /* default, but explicit */
  align-items: flex-start; /* so tops line up */
}

.host-tag {
    font-size: 16px;
    font-style: italic;
    opacity: .8;
    padding-right: 10px;
}

.owner-token {
  width: 25px;
  height: 25px;
  margin: 0;
  background-color: none;
}

.owner-token-large {
  width: 36px;
  height: 36px;
  margin: 0;
  background-color: none;
}

h3 {
    margin: 15px;
}

.hug-top {
  align-items: top;
}
.club-section {
    flex: 0 ;   /* stay at 20% width */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--gray);
    width: 20%;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    height: 90vh;
}

.content-section {
    flex: 1;    
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
}

.member-container {
    flex: 1;
    overflow-y: auto;
    margin-top: auto;
}

.pill {
    font-size: 16px;
}

td {
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
}

td {
  border-top: 1px solid var(--gray);
  user-select: none;
}

.hover-row:hover {
  background-color: var(--chill-blue);
}

.text-input {
  width: 80%;
  margin: 5px;
}

.table-wrapper {
  max-height: 50vh;
  width: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}

.fixed-header {
  border-collapse: collapse;
  width: 100%;
}

.fixed-header thead {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 2;
  overflow-x: hidden;
}

.centered {
  display:flex;
  justify-content: center; /* centers horizontally */
  align-items: center;  
}