<mat-dialog-content>
    <h2 mat-dialog-title>Log In</h2>
    <div class="padding">
        <label>Username</label>
        <input class="edit" type="text" [(ngModel)]="username">
    </div>
    <div class="padding">
        <label>Password</label>
        <input class="edit" type="password" [(ngModel)]="password">
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="login()">Submit</button>
    <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
</mat-dialog-actions>