/* You can add global styles to this file, and also import other style files */
:root {
    --yellow: #ffe100;
    --soft-white: rgb(235, 233, 233);
    --gray: rgb(42, 42, 42);
    --green: rgb(12, 227, 80);
    --blue: #66f2ff;
    --red: rgb(249, 30, 74);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: black;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn.b1 {
    margin: 5px;
    background-color: var(--soft-white);
    color: black;
}

.show-toggle {
    color: white
}

.page {
    margin: 8px;
}

.edit {
    background-color: var(--gray);
    border: none;
    color: white;
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.padding-right {
    padding-right: 10px;
}

.btn-icon {
    color: white;
    font-size: 20px;
    border: 2px transparent solid;
}

.btn-icon:hover{
    border: 2px white solid;
    border-color: white;
}

.btn-delete:hover {
    color: var(--red);
    border-color: var(--red);
}

.btn-commit:hover {
    color: var(--blue);
    border-color: var(--blue);
}

.dirty{
    color: var(--yellow);
}

.highlight {
    color: var(--green);
}