<div class="page">
    <div class="padding-v-3">
        <button class="btn b1" (click)="newStudy()">New Study</button>
    </div>
    <div ></div>
    <div *ngIf="whiteGames().length">
        <h1>White</h1>
        <table>
            <tr>
                <td  *ngFor="let game of whiteGames()"> 
                    <h3>{{game.studyTitle}} <button class="btn btn-icon btn-delete" (click)="delete(game)"><i class="bi bi-trash3 inline-block" ></i></button></h3>
                </td>
            </tr>
            <tr>
                <td  *ngFor="let game of whiteGames()"> 
                    <app-chess-board [isPreview]="true" [moveData]="game" (click)="loadStudy(game.studyId)"> </app-chess-board>
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="blackGames().length">
        <h1>Black</h1>
        <table>
            <tr>
                <td  *ngFor="let game of blackGames()"> 
                    <h3 >{{game.studyTitle}}</h3>
                </td>
            </tr>
            <tr>
                <td  *ngFor="let game of blackGames()"> 
                    <app-chess-board [isPreview]="true" [moveData]="game" (click)="loadStudy(game.studyId)"> </app-chess-board>
                </td>
            </tr>
        </table>
    </div>
</div>