<div>
    <h1>White</h1>
    <table>
        <tr>
            <td  *ngFor="let game of whiteGames()"> 
                <h3>{{game.title}}</h3>
            </td>
        </tr>
        <tr>
            <td  *ngFor="let game of whiteGames()"> 
                <app-chess-board [isPreview]="true" [game]="game"> </app-chess-board>
            </td>
        </tr>
    </table>
</div>
<div>
    <h1>Black</h1>
    <table>
        <tr>
            <td  *ngFor="let game of blackGames()"> 
                <h3>{{game.title}}</h3>
            </td>
        </tr>
        <tr>
            <td  *ngFor="let game of blackGames()"> 
                <app-chess-board [isPreview]="true" [game]="game" [flipMode]="true"> </app-chess-board>
            </td>
        </tr>
    </table>
</div>