

<table>
    <tr>
        <td>
            <div class="chess-board" [ngClass]="{'small': isPreview}"  #chessBoard>
                <div *ngIf="flipMode">
                    <!--As Black-->
                    <div *ngFor="let row of chessBoardView; let x = index" class="row">
                        <div  *ngFor="let piece of row.reverse(); let y = index" class="square" [ngClass]="{'dark': isSquareDark(x, 7-y), 
                            'light':!isSquareDark(x, 7-y),
                            'selected-square': isSquareSelected(x, 7-y),
                            'last-move': isSquareLastMove(x, 7-y),
                            'king-in-check': isSquareChecked(x, 7-y),
                            'promotion-square': isSquarePromotionSquare(x, 7-y),
                            'small': isPreview
                
                        }
                            
                            " (click)="move(x, 7-y)">
                
                            <div [ngClass]="{'safe-square': isSquareSafeForSelectedPiece(x, 7-y)}"></div>
                
                            <img #pieceImage *ngIf="piece" [src]="pieceImagePaths[piece]" [alt]="piece" class="piece"
                                [ngClass]="{'small': isPreview}" cdkDrag (cdkDragStarted)="onDragStart(x,7-y,pieceImage)" (cdkDragEnded)="onDragEnd($event,pieceImage)">
                        </div>
                    </div>
                </div>
                <div *ngIf="!flipMode">
                    <!--As White-->
                    <div *ngFor="let row of chessBoardView.reverse(); let x = index" class="row">
                        <div #htmlSquare  *ngFor="let piece of row; let y = index" class="square" [ngClass]="{'dark': isSquareDark(7-x, y), 
                            'light':!isSquareDark(7-x, y),
                            'selected-square': isSquareSelected(7-x, y),
                            'last-move': isSquareLastMove(7-x, y),
                            'king-in-check': isSquareChecked(7-x, y),
                            'promotion-square': isSquarePromotionSquare(7-x, y),
                            'small': isPreview,
                
                        }
                            
                            " (click)="move(7-x, y)">
                
                            <div [ngClass]="{'safe-square': isSquareSafeForSelectedPiece(7-x, y)}"></div>
                
                            <img #pieceImage *ngIf="piece" [src]="pieceImagePaths[piece]" [alt]="piece" class="piece"
                                [ngClass]="{'small': isPreview}" cdkDrag (cdkDragStarted)="onDragStart(7-x,y,pieceImage)" (cdkDragEnded)="onDragEnd($event,pieceImage)" >
                        </div>
                    </div>
                </div>
            
            </div>
            
            <button class="btn b1" *ngIf="!isPreview" (click)="flipBoard()">Flip</button>
            
            <button  class="btn b1" *ngIf="!isPreview" (click)="save()">Save</button>
            
            <h2 *ngIf="gameOverMessage" class="game-over-message">
                {{gameOverMessage}}
            </h2>
            
            <div *ngIf="isPromotionActive" class="promotion-dialog">
                <img *ngFor="let piece of promotionPieces()" [src]="pieceImagePaths[piece]" (click)="promotePiece(piece)">
            
                <span class="close-promotion-dialog" (click)="closePawnPromotionDialog()">
                    &times;
                </span>
            </div>
            
        </td>
        <td>
            <!--
            <app-move-list *ngIf="!isPreview" [moveList]="moveList" [gameHistoryPointer]="gameHistoryPointer" [gameHistoryLength]="gameHistory.length"
                (showPreviousPositionEvent)="showPreviousPosition($event)">

            </app-move-list>
            -->
        </td>
    </tr>
</table>